.nav-wrapper {
    padding: 0 2rem
}

.price {
    font-size: 15pt;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem;
}

.course img {
    max-width: 600px;
    height: auto;
}

.price big {
    font-size: 2.5rem;
}

.card-action.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.basket-icon {
    margin-bottom: -19px;
    margin-top: 10px;
    width: 46px;
    text-align: center;
}

.btn.btn-primary.red.user {
    margin: -62px 0 0 70px
}

.btn.green.user {
    float: right;
    margin-top: -53px;
    margin-right: 3px;
}

.cart-image {
    height: 45px;
}

.alert {
    position: fixed;
    top: 50px;
    right: 50px;
    background: rgb(2, 253, 232);
    border-radius: 10px;
}

.pass {
    margin-bottom: 50px;
}

.reset-link {
    margin-left: 50px;
}

.avatar {
    width: 150px;
    height: auto;
}